<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- Site Properties -->
    <title>ACME Car Dealer</title>

    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>

</head>
<body>

<div th:include="header"></div>

<div class="ui main container">
    <a href="/applications/reports" class="ui small right floated icon labeled green button"><i class="download icon"></i>Download report</a>
    <h1 class="ui header">My applications</h1>

    <table class="ui small table" th:unless="${#lists.isEmpty(applications)}">
        <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Car</th>
            <th>Location</th>
            <th>Applied for</th>
            <th>Rental Price</th>
            <th>Application Status</th>
            <th>Payment Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="application : ${applications}">
            <td th:text="${application.startDate}">tomorrow</td>
            <td th:text="${application.endDate}">tomorrow</td>
            <td>
                <h4 class="ui image header">
                    <img src="img/car.jpg" class="ui mini image"/>

                    <div class="content">
                        <span th:text="${application.car.make}">Audi</span>
                        <div class="sub header" th:text="${application.car.model}">A4</div>
                    </div>
                </h4>
            </td>
            <td th:text="${application.car.location}">Cluj-Napoca</td>
            <td th:text="${application.type}">Rental</td>
            <td th:text="${application.car.rentalPrice}">&euro;100/day</td>
            <td th:text="${application.appStatus}" class="right aligned" width="1" nowrap="nowrap">PENDING</td>
            <td th:text="${application.paymentStatus}" class="right aligned" width="1" nowrap="nowrap">PENDING</td>
            <td class="right aligned" nowrap="nowrap">
                <div th:if="${application.type==T(rental.data.model.util.ApplicationType).RENTAL and application.appStatus==T(rental.data.model.util.ApplicationStatus).APPROVED and application.paymentStatus!=T(rental.data.model.util.PaymentStatus).SUCCESS}">
                <form action="/applications/0/pay" th:action="|/applications/${application.id}/pay|"
                      method="post" class="inline" onsubmit="return confirm('Are you sure?')">
                    <button type="submit" class="ui compact tiny red button"><i class="payment icon"></i>Pay Online</button>
                </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Insert footer here -->
</body>

</html>
