<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta http-equiv="refresh" content="5" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- Site Properties -->
    <title>ACME Car Dealer</title>

    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <script src="/js/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>

</head>
<body>

<div th:include="header"></div>

<div class="ui main container">
    <h1 class="ui header">Cars</h1>

    <table class="ui small table" th:unless="${#lists.isEmpty(cars)}">
        <thead>
        <tr>
            <th>Make/Model</th>
            <th>Year</th>
            <th>Mileage</th>
            <th>Location</th>
            <th>Fuel</th>
            <th>Rent/Start price</th>
            <th th:if="${carTypes==T(rental.data.model.util.CarType).STAR}"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td>
                <h4 class="ui image header">
                    <span class="car-image" th:style="|background-image: url(${car.mainImageUrl})|"></span>
                    <div class="content">
                        <span th:text="${car.make}">Audi</span>
                        <div class="sub header" th:text="${car.model}">A4</div>
                    </div>
                </h4>
            </td>
            <td th:text="${car.year}">2004</td>
            <td th:text="${car.mileage}">200,000</td>
            <td th:text="${car.location}">Cluj-Napoca</td>
            <td th:text="${car.fuelType}">Gasoline</td>
            <td th:text="${car.rentalPrice}">&euro;100/day</td>

            <td class="right aligned" width="300" nowrap="nowrap" th:if="${car.carType==T(rental.data.model.util.CarType).STANDARD}">
                <a href="/cars/0/view" th:href="|/cars/${car.id}/view|"
                   class="ui compact tiny blue button"><i class="info icon"></i>View</a>
                <a href="/cars/0/test" th:href="|/cars/${car.id}/test|" class="ui compact tiny green button"><i class="car icon"></i> Test Drive</a>
                <a href="/cars/0/rent" th:href="|/cars/${car.id}/rent|" class="ui compact tiny orange button"><i class="credit card icon"></i> Rent</a>
            </td>

            <td class="right aligned" nowrap="nowrap" th:if="${car.carType==T(rental.data.model.util.CarType).STAR}" th:text="${car.activeAuction.timeLeft}">

            </td>

            <td class="right aligned" width="300" nowrap="nowrap" th:if="${car.carType==T(rental.data.model.util.CarType).STAR}">
                <a href="/cars/0/viewAndBid" th:href="|/cars/${car.id}/viewAndBid|"
                   class="ui compact tiny blue button"><i class="info icon"></i>View&amp;Bid</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="">
        <div class="ui toggle checkbox">
            <input type="checkbox" name="notify" id="notify" th:checked="${user.notifyStarCars}" />
            <label>Notify me when a new star car becomes available</label>
        </div>
    </div>

    <script type="application/javascript">
        $('#notify').on("change", function() {
            $.ajax({
                url: "/profile/notification",
                method: "POST",
                data: {
                    notifyStarCars: $('#notify')[0].checked
                }
            });
        });
    </script>

</div>
</body>

</html>
