<div class="ui fixed inverted menu">
    <div class="ui container" th:if="${userRole}!=ADMIN">
        <a href="/" class="header item">
            <i class="car icon logo"></i>
            ACME Car Dealer
        </a>
        <div class="ui simple dropdown item">
            <i class="car icon"></i>
            Cars
            <i class="dropdown icon"></i>
            <div class="menu">
                <a href="/cars?type=STANDARD" class="item">Standard cars</a>
                <a href="/cars?type=STAR" class="item">Star cars</a>
            </div>
        </div>
        <a href="/applications" class="item"><i class="calendar outline icon"></i> My applications</a>
        <a href="/wishlist" class="item"><i class="heart icon"></i> My wishlist</a>
        <div class="right menu">
            <form class="item" action="/cars/search" method="get">
                <div class="ui icon inverted transparent input">
                    <input type="text" name="query" placeholder="Search cars..." />
                    <i class="search link icon"></i>
                </div>
            </form>
            <div class="ui simple dropdown item">
                <i class="circular teal user icon"></i> <span th:text="${username}">username</span> <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="#"><i class="user icon"></i> Profile</a>
                    <div class="divider"></div>
                    <a class="item" href="/logout"><i class="sign out icon"></i> Log out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container" th:if="${userRole}==ADMIN">
        <a href="/" class="header item">
            <i class="car icon logo"></i>
            ACME Car Dealer
        </a>
        <div class="ui simple dropdown item">
            <i class="car icon"></i>
            Cars
            <i class="dropdown icon"></i>
            <div class="menu">
                <a href="/admin/cars?type=STANDARD" class="item">Standard cars</a>
                <a href="/admin/cars?type=STAR" class="item">Star cars</a>
            </div>
        </div>
        <a href="/admin/applications" class="item"><i class="calendar outline icon"></i> Applications</a>
        <a href="/admin/users" class="item"><i class="users icon"></i> Users</a>
        <a href="/admin/wishlist" class="item"><i class="heart icon"></i> Wishlist</a>
        <div class="right menu">
            <div class="ui simple dropdown item">
                <i class="circular teal user icon"></i> <span th:text="${username}">username</span> <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="#"><i class="user icon"></i> Profile</a>
                    <div class="divider"></div>
                    <a class="item" href="/logout"><i class="sign out icon"></i> Log out</a>
                </div>
            </div>
        </div>
    </div>
</div>
