<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- Site Properties -->
    <title>ACME Car Dealer</title>

    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>

</head>
<body>

<div th:include="header"></div>

<div class="ui main container">
    <a href="/wishlist/add" class="ui small right floated icon labeled blue button"><i class="add icon"></i>Add car</a>
    <h1 class="ui header">My wishlist</h1>

    <table class="ui small table" th:unless="${#lists.isEmpty(wishlist)}">
        <thead>
        <tr>
            <th>Car</th>
            <th>Year</th>
            <th>Desired Price</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wish : ${wishlist}">
            <td>
                <h4 class="ui image header">
                    <img src="img/car.jpg" class="ui mini image"/>

                    <div class="content">
                        <span th:text="${wish.car.make}">Audi</span>
                        <div class="sub header" th:text="${wish.car.model}">A4</div>
                    </div>
                </h4>
            </td>
            <td th:text="${wish.car.year}">&euro;100/day</td>
            <td th:text="${wish.car.rentalPrice}">&euro;100/day</td>
            <td th:text="${wish.appStatus}" class="right aligned" width="1" nowrap="nowrap">PENDING</td>
            <td class="right aligned">
                <form action="/wishlist/0/delete" th:action="|/wishlist/${wish.id}/delete|" method="post" class="inline" onsubmit="return confirm('Are you sure?')">
                    <button type="submit" class="ui compact tiny red button"><i class="remove icon"></i>Remove</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Insert footer here -->
</body>

</html>
