.ui.menu .item i.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 7em;
    max-width: 960px !important;
    padding-bottom: 5rem;
}

form.inline {
    display: inline-block;
}

.masthead.segment:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/img/car2.jpg") !important;
    background-size: cover !important;
    content: "";
    left: 0;
    z-index: -1;
}

.masthead.segment {
    position: relative;
    min-height: 770px;
    height: 100%;
    padding: 1em 0em;
    background: rgba(0,0,0, 0.3) !important;
    overflow: hidden;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead.full-page {
    height: 100%;
}

.masthead.error.full-page:before {
    background-image: url("/img/error-bg.jpg") !important;
}

.car-image {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: cover;
    background-position: center;
}

.car-image-view {
    width: 250px;
    height: 250px;
    display: inline-block;
    background-size: cover;
    background-position: center;
}

.flex-direction-nav a {
    font-size: 0 !important;
    line-height: 40px;
}

.flexslider .slides > li {
    line-height: 400px;
}

.flexslider .slides > li > img {
    display: inline-block;
    vertical-align: middle;
}