<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- Site Properties -->
    <title>ACME Car Dealer</title>

    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" href="/css/flexslider.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery.datetimepicker.css" type="text/css" />

    <script src="/js/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    <script src="/js/jquery.flexslider.js"></script>
    <script src="/js/jquery.datetimepicker.full.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(window).load(function() {
            $('.flexslider').flexslider({
                itemHeight: 400
            });
        });
    </script>
</head>
<body>

<div th:include="header"></div>

<div class="ui main container" th:object="${car}">
    <div class="ui card" style = "float: left">
        <div class="content">
            <div class="header">Car details</div>
            <div class="description">
                <table class="ui very basic table">
                    <tr>
                        <th>Make</th>
                        <td th:text="${car.make}"></td>
                    </tr>
                    <tr>
                        <th>Model</th>
                        <td th:text="${car.model}"></td>
                    </tr>
                    <tr>
                        <th>Year</th>
                        <td th:text="${car.year}"></td>
                    </tr>
                    <tr>
                        <th>Mileage</th>
                        <td th:text="${car.mileage}"></td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td th:text="${car.location}"></td>
                    </tr>
                    <tr>
                        <th>Fuel Type</th>
                        <td th:text="${car.fuelType}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <form class="ui bottom attached form" th:object="${auction}" method="post" action="">
            <div class="eight wide inline field">
                <input id="datetimepicker" type="text" name="endDate" placeholder="Date" required="required" th:value="${auction.endDate}" />
            </div>
            <button type="submit" class="ui bottom attached button" tabindex="0">Save Auction</button>
        </form>
    </div>
    <div class="flexslider">
        <ul class="slides">
            <li th:each="image: ${car.images} ">
                <img th:src="${image.imageUrl}" />
            </li>
        </ul>
    </div>
    <script type="application/javascript">
        jQuery('#datetimepicker').datetimepicker({format:"c", validateOnBlur: false});
    </script>
</div>
</body>

</html>
