<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- Site Properties -->
    <title>ACME Car Dealer</title>

    <link rel="stylesheet" type="text/css" href="../css/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" />

    <script src="/js/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>

</head>
<body>

  <div th:include="header"></div>
  <div class="ui main container">
      <a href="/admin/cars/reports.xml" class="ui small right floated icon labeled green button"><i class="download icon"></i>Download report</a>
    <a href="/admin/cars/add" class="ui small right floated icon labeled blue button"><i class="add icon"></i> Add car</a>

      <form id="upload-form" action="/admin/cars/upload" method="post" enctype="multipart/form-data" class="ui right floated form" style="">
          <button type="button" style=""
             class="ui small right floated icon labeled orange button" onclick="$('#upload-file').click()"><i class="upload icon"></i> Upload cars</button>
          <input id="upload-file" type="file" name="file" style="opacity: 0; position: absolute" value="" onchange="$('#upload-form').submit()" />
      </form>
    <h1 class="ui header">Car administration</h1>

    <table class="ui small selectable table" th:unless="${#lists.isEmpty(cars)}">
      <thead>
        <tr>
            <th>Make/Model</th>
            <th>Year</th>
            <th>Mileage</th>
            <th>Location</th>
            <th>Fuel</th>
            <th>Price</th>
            <th width="10"></th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="car : ${cars}">
          <td>
            <h4 class="ui image header">
                <span class="car-image" th:style="|background-image: url(${car.mainImageUrl})|"></span>
              <div class="content">
                <span th:text="${car.make}">Audi</span>
                <div class="sub header" th:text="${car.model}">A4</div>
            </div>
          </h4>
          </td>
          <td th:text="${car.year}">2004</td>
          <td th:text="${car.mileage}">200,000</td>
          <td th:text="${car.location}">Cluj-Napoca</td>
          <td th:text="${car.fuelType}">Gasoline</td>
          <td th:text="${car.rentalPrice}">&euro;100/day</td>
          <td class="right aligned" width="410" nowrap="nowrap">
              <a href="/admin/cars/0/view" th:href="|/admin/cars/${car.id}/view|"
                 class="ui compact tiny blue button"><i class="info icon"></i>View</a>
              <a href="/admin/cars/0/edit" th:href="|/admin/cars/${car.id}/edit|"
                 class="ui compact tiny button"><i class="edit icon"></i>Edit</a>
              <form action="/admin/cars/0/delete" th:action="|/admin/cars/${car.id}/delete|" method="post" class="inline" onsubmit="return confirm('Are you sure?')">
                  <button type="submit" class="ui compact tiny red button"><i class="remove icon"></i>Remove</button>
              </form>
              <form id="img-upload-form" action="/admin/cars/0/upload" th:action="|/admin/cars/${car.id}/upload|" method="post" enctype="multipart/form-data" class="inline">
                  <button type="button"
                          class="ui compact tiny icon labeled orange button" onclick="$('input[type=file]', this.parentNode).click()"><i class="upload icon"></i>Upload image</button>
                  <input type="file" name="file" style="opacity: 0; position: absolute" value="" onchange="$(this.parentNode).submit()" />
              </form>
              <div th:if="${car.carType==T(rental.data.model.util.CarType).STAR}">
                  <a href="/admin/cars/0/auction" th:href="|/admin/cars/${car.id}/auction|"
                     class="ui compact tiny blue button"><i class="info icon"></i>Auction</a>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
