<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- Site Properties -->
    <title>ACME Car Dealer</title>

    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" href="/css/flexslider.css" type="text/css" />

    <script src="/js/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    <script src="/js/jquery.flexslider.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(window).load(function() {
            $('.flexslider').flexslider({
                itemHeight: 400
            });
        });
    </script>
</head>
<body>

<div th:include="header"></div>

<div class="ui main container" th:object="${car}">
    <div class="ui card" style = "float: left">
        <div class="content">
            <div class="header">Car details</div>
            <div class="description">
                <table class="ui very basic table">
                    <tr>
                        <th>Make</th>
                        <td th:text="${car.make}"></td>
                    </tr>
                    <tr>
                        <th>Model</th>
                        <td th:text="${car.model}"></td>
                    </tr>
                    <tr>
                        <th>Year</th>
                        <td th:text="${car.year}"></td>
                    </tr>
                    <tr>
                        <th>Mileage</th>
                        <td th:text="${car.mileage}"></td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td th:text="${car.location}"></td>
                    </tr>
                    <tr>
                        <th>Fuel Type</th>
                        <td th:text="${car.fuelType}"></td>
                    </tr>
                    <tr>
                        <th>Rental Price</th>
                        <td th:text="${car.rentalPrice}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="ui bottom attached button">
            <a href="/cars/0/test" th:href="|/cars/${car.id}/test|"><i class="car icon"></i>Test Drive</a>
        </div>
        <div class="ui bottom attached button">
            <a href="/cars/0/rent" th:href="|/cars/${car.id}/rent|"><i class="credit card icon"></i>Rent</a>
        </div>
    </div>
    <div class="flexslider">
        <ul class="slides">
            <li th:each="image: ${car.images} ">
                <img th:src="${image.imageUrl}" />
            </li>
        </ul>
    </div>
</div>
</body>

</html>
