<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- Site Properties -->
    <title>ACME Car Dealer</title>

    <link rel="stylesheet" type="text/css" href="../css/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" />

    <script src="/js/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>

</head>
<body>

  <div th:include="header"></div>
  <div class="ui main container">
      <a href="/admin/users/reports.xml" class="ui small right floated icon labeled green button"><i class="download icon"></i>Download report</a>
    <a href="/admin/users/add" class="ui small right floated icon labeled blue button"><i class="add icon"></i> Add user</a>
    <h1 class="ui header">User administration</h1>

    <table class="ui small selectable fixed table" th:unless="${#lists.isEmpty(users)}">
      <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>National Identifier</th>
            <th></th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td th:text="|${user.firstName} ${user.lastName}|">John Smith</td>
          <td th:text="${user.userName}">jsmith</td>
          <td th:text="${user.nationalIdentifier}">123</td>
          <td class="right aligned">
              <a href="/admin/users/0/edit" th:href="|/admin/users/${user.id}/edit|"
                 class="ui compact tiny button"><i class="edit icon"></i>Edit</a>
              <form action="/admin/users/0/delete" th:action="|/admin/users/${user.id}/delete|" method="post" class="inline" onsubmit="return confirm('Are you sure?')">
                  <button type="submit" class="ui compact tiny red button"><i class="remove icon"></i>Remove</button>
              </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
